.vscode/

# personal utility scripts
start_dev_mysql.sh
connect_to_mysql.sh
build_and_run_container.sh
travis_lint.sh
create_infrastructure.sh

# infrastructure template parameters
infrastructure/parameters.json